* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-top {
    background: #0d6efd;
    padding: 8px 0;
    color: #fff;
    font-size: 14px;
}

.top-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-heading {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 14px;
}

.top-heading i {
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.top-heading i:hover {
    color: #50d0f7 !important;
}

/* Navbar */
.navbar {
    padding: 12px 0;
    transition: 0.3s ease;
}

/* Brand */
.navbar-brand {
    color: #fff !important;
    transition: 0.3s;
}

.navbar-brand:hover {
    color: #ffd700 !important;
}

/* Navigation Links */
.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 17px;
    font-weight: 600;
    margin: 0 8px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button {
    align-items: flex-end;
}
/* Hover Effect */
.navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #0dcaf0 !important;
    transform: translateY(-2px);
}

/* Active Link */
.navbar-nav .nav-link.active {
    background-color: #fff;
    color: #0dcaf0 !important;
    border-radius: 5px;
}

/* Underline Animation (Optional) */
.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffd700;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after {
    width: 80%;
}

/* Toggler */
.navbar-toggler {
    border: 2px solid #fff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* footer */
.nav-foot {
    background-color: #b9eef8;
}